Flask==3.0.0
Flask-Cors==4.0.0
langchain==0.0.352
python-dotenv==1.0.0
requests==2.31.0
keras==2.15.0
numpy==1.26.3
weaviate-client==3.26.0
openai==1.6.1
tiktoken==0.5.2
Pillow==10.1.0
gunicorn==21.2.0
tensorflow==2.15.0