<div
  class="relative min-h-[100vh] bg-[url('assets/AyurvedicSolutionsBg.jpg')] bg-center bg-cover flex flex-col"
>
  <h1
    class="my-24 lg:my-32 px-4 flex-wrap flex flex-col justify-center items-center lg: sm:text-6xl text-5xl tracking-wider text-center text-white"
  >
    <strong
      class="text-emerald-400 flex items-center justify-center whitespace-break-spaces"
      >Ayurvedic Solutions
    </strong>
    For diseases
  </h1>
  <div class="relative w-full flex justify-center">
    <div
      class="flex gap-4 w-full items-center justify-center flex-col md:flex-row"
    >
      <mat-icon
        fontIcon="search"
        class="relative md:left-12 md:top-0.5 -left-[9.25rem] top-[53px]"
      >
        search
      </mat-icon>
      <input
        class="md:max-w-[400px] max-w-[350px] w-full pl-10 pr-5 py-3 rounded-full"
        type="text"
        placeholder="Search for a disease/symptoms"
        [value]="inputString"
        (input)="setInputString($event)"
        (keydown.enter)="getAyurvedicSolutions()"
      />
      <button
        mat-button
        class="!max-w-[200px] !text-white !rounded-full !py-6 !px-10"
        [ngClass]="{
          '!bg-[#10b981]': !isLoading,
          '!bg-emerald-100': isLoading
        }"
        (click)="getAyurvedicSolutions()"
        [disabled]="isLoading"
      >
        <mat-spinner
          *ngIf="isLoading; else searchText"
          diameter="30"
          class="!text-emerald-600"
        ></mat-spinner>
        <ng-template #searchText>Search</ng-template>
      </button>
    </div>
  </div>
  <app-answers-expansion-panel
    class="my-24 lg:flex items-center"
    [answersData]="answersData"
    [isLoading]="isLoading"
  ></app-answers-expansion-panel>
</div>
